/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.top-buffer{
    margin-top:10px;
}

.left-buffer {
    margin-left: 10px
}

.right-buffer {
    margin-right: 10px
}

.well-white{
    filter:none !important;
    background: white none !important;
}

.nav, .pagination, .carousel, .pointer, .panel-title a {
    cursor: pointer;
}

.error {
    padding-left: 10px;
    color: red;
}

.help-text {
    font-size: 16px;
}

.help-text-small {
    font-size: 12px;
}

.twitter {
    background-image: url('../img/twitter.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 105px;
    display: inline-block;
    margin-left: 2px;
}

.center-vertical {
    vertical-align: middle;
    display: inline-block
}

.checkbox-option > div:last-child {
    margin-top: 4px;
}

.help-icon {
    background-image: url('../img/help.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    width: 15px;
    display: inline-block;
    cursor: pointer;
}

.alert ul {
    margin: -5px 0;
    padding-left: 15px;
}

/* #region Login and Sign up*/
.login-form, .sign-up-form {
    padding: 0 40px 5px;
}
.btm-row {
    float: none;
    text-align: center;
}
/* #endregion Login and Create Account */
