  <div class="input-group ">
    <span class="input-group-addon">Search:</span>
    <input type="text" class="form-control" placeholder="Query" ng-model="searchText">
     <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="searchText = null" type="button">Clear</button>
      </span>
  </div>
<div class="table-responsive">
  <table class="table table-striped ">
    <thead>
    <tr>
      <td>
        Phrase
      </td>
      <td style="width:1px">
        Edit
      </td>
      <td style="width:1px">
        Remove
      </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="keyphrase in keyphrases | filter:searchText track by $index">
      <td>
        {{keyphrase.keyphrase}}
      </td>
      <td class="text-center">
        <span focus-edit ng-click="editKeyphrase(keyphrase)" class="pointer glyphicon glyphicon-edit"></span>
      </td>
      <td class="text-center">

        <!-- Trigger modal -->
        <span data-toggle="modal" data-target="#{{keyphrase.keyphrase}}Modal" class="pointer glyphicon glyphicon-remove"></span>

        <!-- Modal -->
        <div class="modal fade" id="{{keyphrase.keyphrase}}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">

          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
              </div>
              <div class="modal-body">
                Are you sure you want to delete the keyphrase '{{keyphrase.keyphrase}}'?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                  No
                </button>
                <button type="button" ng-click="removeKeyphrase(keyphrase)" class="btn btn-primary"
                        data-dismiss="modal">
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>