  <div class="input-group ">
    <span class="input-group-addon">Search:</span>
    <input type="text" class="form-control" placeholder="Query" ng-model="searchText">
     <span class="input-group-btn">
        <button class="btn btn-default" ng-click="searchText = null" type="button">Clear</button>
      </span>
  </div>
<div class="table-responsive">
  <table class="table table-striped ">
    <thead>
    <tr>
      <td>
        Phrase
      </td>
      <td style="width:1px">
        Edit
      </td>
      <td style="width:1px">
        Remove
      </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="keyphrase in keyphrases | filter:searchText track by $index">
      <td>
        {{keyphrase.keyphrase}}
      </td>
      <td class="text-center">
        <span focus-edit ng-click="editKeyphrase(keyphrase)" class="pointer glyphicon glyphicon-edit"></span>
      </td>
      <td class="text-center">
        <span ng-click="removeKeyphrase(keyphrase)" class="pointer glyphicon glyphicon-remove"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>