<div class="container" id="loginContainer">
    <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 well">
      <legend>Text News Service Login</legend>
      <div class="row">
        <alert ng-show="alert" class="alert-danger alert-dismissable" type="danger" close="closeAlert()">{{alert.msg}}
        </alert>
      </div>
      <form ng-submit="submit()" name="loginForm">
        <div class="row">
            <input required ng-model="user.email" type="text" class="form-control" placeholder="Email">
        </div>

        <div class="top-buffer row">
            <input ng-model="user.password" name="password" required type="password" class="form-control"
                   placeholder="Password">
        </div>
        <div class=" top-buffer row">
          <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
        </div>
      </form>
      <div class="top-buffer">Don't have an account? <a href="#/createAccount">Sign up</a> for free.</div>
    </div>
</div>

