<div class="col-lg-4">
    <h3>Add Subscriptions</h3>

    <div class="input-group">
        <input type="text" class="form-control" ng-model="feed.url"/>

        <div class="input-group-btn">
            <button class="btn btn-primary" ng-click="addFeed()">Add</button>
        </div>
    </div>
    <div ng-show="addError" class="alert alert-danger">{{addError.Message}}</div>
</div>
<div class="col-lg-8">
    <h3>Current Subscriptions</h3>
      <alert ng-show="removeError" class="alert-danger alert-dismissable" type="danger" close="clearRemoveError()">{{removeError.Message}}
        </alert>
    <subscription-list edit-keyphrases-callback="editKeyphrasesForFeed" remove-subscription-callback="removeSubscription"
                        subscriptions="subscriptions"></subscription-list>
</div>
