<legend><h3>Popular Feeds</h3></legend>
<div class="table-responsive">
  <table class="table table-striped ">
    <thead>
    <tr>
      <td style="width:5%">
        <strong>#</strong>
      </td>
      <td style="width:40%">
        <strong>Title</strong>
      </td>
      <td style="width:60%">
        <strong>URL</strong>
      </td>
      <td class="pointer" ng-click="reverse=!reverse">
          <strong>Subscribers&nbsp;</strong><span class="glyphicon" ng-class="{'glyphicon-chevron-down':reverse, 'glyphicon-chevron-up':!reverse}"></span>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="feed in popularFeeds | orderBy:'count':reverse">
      <td>
        {{$index + 1}}
      </td>
      <td>
        {{feed.title}}
      </td>
      <td>
        {{feed.url}}
      </td>
      <td>
        {{feed.count}}
      </td>
    </tr>
    </tbody>
  </table>
</div>