<div class="input-group ">
  <span class="input-group-addon">Search:</span>
  <input type="text" class="form-control" placeholder="Title or Url" ng-model="searchText">
       <span class="input-group-btn">
        <button class="btn btn-default" ng-click="searchText = null" type="button">Clear</button>
      </span>
</div>
<div class="table-responsive">
  <table class="table table-striped ">
    <thead>
    <tr>
      <td style="width:40%">
        Title
      </td>
      <td style="width:60%">
        Url
      </td>
      <td style="width:1px">
        Keywords
      </td>
      <td style="width:1px">
        Remove
      </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="subscription in subscriptions | filter:searchText track by $index">
      <td>
        {{subscription.feed.title}}
      </td>
      <td>
        {{subscription.feed.link}}
      </td>
      <td class="text-center">
        <span ng-click="editKeyphrasesForFeed(subscription)" class="pointer glyphicon glyphicon-edit"></span>
      </td>
      <td class="text-center">
        <span ng-click="removeSubscription(subscription.feed.link)" class="pointer glyphicon glyphicon-remove"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>